.item {
  margin: 1rem 0;
}

.item p,
.content,
.actions {
  text-align: center;
}

.content {
  padding-bottom: 1rem;
  font-size: 1.25rem;
  color: var(--color-black-primary);
  margin: 0;
}

.actions {
  background-color: transparent;
  width: 11rem;
}

.actions:hover,
.actions:active {
  background-color: var(--color-white-primary)
}
