.row {
  padding: 0 1rem;
  width: 100%;
  display: flex;
  justify-self: flex-start;
}

.title,
.text {
  margin: 0;
  padding: 0.5rem;
}

.title {
  text-align: right;
  font-weight: bold;
  max-width: 7rem;
}

.text {
  text-align: left;
  max-width: 33rem;
}
