.form {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.control {
  margin-bottom: 0.5rem;
  width: 100%;
}

.control label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.control input,
.control textarea {
  display: block;
  font: inherit;
  border-radius: 0.25rem;
  border: 1px solid #ccc;
  width: 100%;
  padding: 0.25rem;
  resize: none;
}

.actions {
  margin-top: 1rem;
  text-align: right;
}

.actions button {
  font: inherit;
  cursor: pointer;
  background-color: rgba(25, 25, 25, 1);
  color: white;
  padding: 0.5rem 1.5rem;
  border: 1px solid rgba(25, 25, 25, 1);
  border-radius: 0.25rem;
  font-weight: bold;
}

.actions button:hover,
.actions button:active {
  background-color: rgb(8, 8, 8);
  border-color: rgb(8, 8, 8);
}
