.form {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.control {
  margin-bottom: 0.5rem;
  width: 100%;
}

.control label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.control input,
.control textarea {
  display: block;
  font: inherit;
  border-radius: 0.25rem;
  border: 1px solid #ccc;
  width: 100%;
  padding: 0.25rem;
  resize: none;
}

.actions {
  margin-top: 1rem;
  text-align: right;
}

.actions button {
  background-color: var(--color-black-secondary);
  color: white;
  font-weight: bold;
}

.actions button:hover,
.actions button:active {
  background-color: var(--color-black-primary);
  border-color: var(--color-black-primary);
}
